{% extends "ProyectoWebApp/base.html" %}

{% block content%}
<h3>Cambio de pesos chilenos</h3>

<form class="form-inline">
    <p> &iquest;Planeando viajar dentro o fuera de Chile? &iexcl;Excelente, aqu&iacute; puedes cambiar tus monedas! </p>
    <p> Obtendr&aacute;s equivalencias en todos los dolares, pesos, euros y rublos soportados por el sistema </p>
    <div class="form-group mb-2">
        <label for="lbCantidad" class="sr-only">Cantidad</label>
        <input type="text" readonly class="form-control-plaintext" id="lbCantidad" value="Cantidad $">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="tbCantidad" class="sr-only">Cantidad</label>
        <input type="number" class="form-control" id="tbCantidad" placeholder="Pesos chilenos">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Convertir</button>
</form>
{% endblock %}